<div class="flex items-center flex-wrap gap">
  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-starting-opacity-value="0" data-animation-var-value="--animate-fade-in">
    <h2 class="text-lg font-semibold">Fade In</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-fade-out">
    <h2 class="text-lg font-semibold">Fade Out</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-starting-opacity-value="0" data-animation-var-value="--animate-fade-in-bloom">
    <h2 class="text-lg font-semibold">Fade In Bloom</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-fade-out-bloom">
    <h2 class="text-lg font-semibold">Fade Out Bloom</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-scale-up">
    <h2 class="text-lg font-semibold">Scale Up</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-scale-down">
    <h2 class="text-lg font-semibold">Scale Down</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-out-up">
    <h2 class="text-lg font-semibold">Slide Out Up</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-out-down">
    <h2 class="text-lg font-semibold">Slide Out Down</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-out-right">
    <h2 class="text-lg font-semibold">Slide Out Right</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-out-left">
    <h2 class="text-lg font-semibold">Slide Out Left</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-in-up">
    <h2 class="text-lg font-semibold">Slide In Up</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-in-down">
    <h2 class="text-lg font-semibold">Slide In Down</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-in-right">
    <h2 class="text-lg font-semibold">Slide In Right</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-in-left">
    <h2 class="text-lg font-semibold">Slide In Left</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-spin">
    <h2 class="text-lg font-semibold">Animate Spin</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-ping">
    <h2 class="text-lg font-semibold">Animate Ping</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-blink">
    <h2 class="text-lg font-semibold">Animate Blink</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-float">
    <h2 class="text-lg font-semibold">Animate Float</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-bounce">
    <h2 class="text-lg font-semibold">Animate Bounce</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-pulse">
    <h2 class="text-lg font-semibold">Animate Pulse</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-shake-x">
    <h2 class="text-lg font-semibold">Animate Shake X</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-shake-y">
    <h2 class="text-lg font-semibold">Animate Shake Y</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>

  <div class="card flex flex-col gap-half items-center bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-shake-z">
    <h2 class="text-lg font-semibold">Animate Shake Z</h2>
    <button data-action="animation#run"><%= image_tag "circle-play.svg", size: 80 %></button>
  </div>
</div>