<fieldset class="flex flex-col gap">
  <div class="flex items-center gap">
    <%= check_box_tag :terms, class: "input" %>
    <%= label_tag :terms, "Accept terms and conditions", class: "text-sm font-medium" %>
  </div>
  <div class="flex items-start gap">
    <%= check_box_tag :terms_2, 1, true, class: "input" %>
    <div class="flex flex-col gap-half">
      <%= label_tag :terms_2, "Accept terms and conditions", class: "text-sm leading-none font-medium" %>
      <p class="text-sm text-subtle ">By clicking this checkbox, you agree to the terms and conditions.</p>
    </div>
  </div>
  <div class="flex items-center gap">
    <%= check_box_tag :toggle, disabled: true, class: "input" %>
    <%= label_tag :toggle, "Enable notifications", class: "text-sm font-medium" %>
  </div>
</fieldset>
