<fieldset class="flex flex-col gap-half">
  <legend class="sr-only">Settings</legend>
  <div class="flex items-center gap">
    <%= check_box_tag :check_recents, class: "checkbox" %>
    <%= label_tag :check_recents, "Recents", class: "text-sm" %>
  </div>
  <div class="flex items-center gap">
    <%= check_box_tag :check_home, class: "checkbox" %>
    <%= label_tag :check_home, "Home", class: "text-sm" %>
  </div>
  <div class="flex items-center gap">
    <%= check_box_tag :check_applications, class: "checkbox" %>
    <%= label_tag :check_applications, "Applications", class: "text-sm" %>
  </div>
  <div class="flex items-center gap">
    <%= check_box_tag :check_desktop, class: "checkbox" %>
    <%= label_tag :check_desktop, "Desktop", class: "text-sm" %>
  </div>
</fieldset>