<nav class="pagination" aria-label="Pagination">
  <%= link_to "#page-1", class: "btn", aria: { label: "Previous page" } do %>
    <%= image_tag "chevron-left.svg", size: 16, role: "presentation" %>
    <span>Previous</span>
  <% end %>

  <%= link_to "1", "#page-1", class: "btn" %>
  <%= link_to "2", "#page-2", class: "btn", aria: { disabled: true, current: "page" }, role: "link" %>
  <%= link_to "3", "#page-3", class: "btn" %>

  <a href="" class="pi-3" aria-disabled="true" role="link">
    <%= image_tag "ellipsis.svg", size: 16, role: "presentation" %>
  </a>

  <%= link_to "#page-3", class: "btn", aria: { label: "Next page" } do %>
    <span>Next</span>
    <%= image_tag "chevron-right.svg", size: 16, role: "presentation" %>
  <% end %>
</nav>