<nav class="flex items-center gap" style="--column-gap: 0.25rem; --btn-padding: 0.375rem .75rem" aria-label="Pagination">
  <%= link_to "#page-1", class: "btn btn--borderless", aria: { label: "Previous page" } do %>
    <%= image_tag "chevron-left.svg", size: 16, aria: { hidden: true } %>
    <span>Previous</span>
  <% end %>

  <%= link_to "1", "#page-1", class: "btn btn--borderless" %>
  <%= link_to "2", "#page-2", class: "btn", aria: { current: "page" } %>
  <%= link_to "3", "#page-3", class: "btn btn--borderless" %>

  <span class="pi-2" aria-hidden="true">
    <%= image_tag "ellipsis.svg", size: 16, aria: { hidden: true } %>
  </span>

  <%= link_to "#page-3", class: "btn btn--borderless", aria: { label: "Next page" } do %>
    <span>Next</span>
    <%= image_tag "chevron-right.svg", size: 16, aria: { hidden: true } %>
  <% end %>
</nav>