<!DOCTYPE html>
<html data-theme="<%= lookbook_display(:theme) %>">
  <head>
    <title>Component Preview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="lightbox fullscreen local-time">
    <div class="p-6">
      <div style="max-width: <%= lookbook_display(:max_width, "100%") %>">
        <%= yield %>
      </div>
    </div>
  </body>
</html>