<!DOCTYPE html>
<% if lookbook_display(:color_scheme_controller) %>
<html data-controller="color-scheme">
<% else %>
<html data-color-scheme="<%= lookbook_display(:theme) %>">
<% end %>
  <head>
    <title>Component Preview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "css-zero/reset", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/variables", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/utilities", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="lightbox fullscreen local-time">
    <div style="padding: <%= lookbook_display(:padding, "1.5rem") %>">
      <% if lookbook_display(:centered) %>
        <div class="centered-layout" style="max-width: <%= lookbook_display(:max_width, "100%") %>"><%= yield %></div>
      <% else %>
        <div style="max-width: <%= lookbook_display(:max_width, "100%") %>"><%= yield %></div>
      <% end %>
    </div>
  </body>
</html>