<div class="tabs" data-controller="tabs" data-tabs-selected-value="tab_account" style="max-inline-size: 400px">
  <div class="tabs__list" role="tablist">
    <%= tab_button "Account", id: "trigger_account", value: "tab_account" %>
    <%= tab_button "Password", id: "trigger_password", value: "tab_password" %>
  </div>

  <%= tab_panel "tab_account", labelled_by: "trigger_account" do %>
    <%= render "account_form" %>
  <% end %>

  <%= tab_panel "tab_password", labelled_by: "trigger_password" do %>
    <%= render "password_form" %>
  <% end %>
</div>
