<div class="carousel w-full" data-controller="carousel" style="max-inline-size: 420px" role="region" aria-roledescription="carousel">
  <%= button_tag "data-action": "carousel#previous", class: "btn btn--outline rounded-full p-2" do %>
    <%= image_tag "arrow-left.svg", role: "presentation", size: 16 %>
    <%= tag.span "Previous slide", class: "sr-only" %>
  <% end %>
  <div data-carousel-target="content" class="carousel__content">
    <div role="group" aria-roledescription="slide" class="card flex items-center justify-center aspect-square">
      <span class="text-4xl font-semibold">1</span>
    </div>
    <div role="group" aria-roledescription="slide" class="card flex items-center justify-center aspect-square">
      <span class="text-4xl font-semibold">2</span>
    </div>
    <div role="group" aria-roledescription="slide" class="card flex items-center justify-center aspect-square">
      <span class="text-4xl font-semibold">3</span>
    </div>
    <div role="group" aria-roledescription="slide" class="card flex items-center justify-center aspect-square">
      <span class="text-4xl font-semibold">4</span>
    </div>
  </div>
  <%= button_tag "data-action": "carousel#next", class: "btn btn--outline rounded-full p-2" do %>
    <%= image_tag "arrow-right.svg", role: "presentation", size: 16 %>
    <%= tag.span "Next slide", class: "sr-only" %>
  <% end %>
</div>