<div class="carousel w-full" style="max-inline-size: 460px" data-controller="carousel" role="region" aria-roledescription="carousel">
  <%= button_tag class: "btn btn--outline rounded-full p-2", "data-action": "carousel#previous" do %>
    <%= image_tag "arrow-left.svg", size: 16, role: "presentation" %>
    <%= tag.span "Previous slide", class: "sr-only" %>
  <% end %>
  <div class="carousel__content" data-carousel-target="content">
    <div class="card flex items-center justify-center aspect-square" role="group" aria-roledescription="slide">
      <span class="text-4xl font-semibold">1</span>
    </div>
    <div class="card flex items-center justify-center aspect-square" role="group" aria-roledescription="slide">
      <span class="text-4xl font-semibold">2</span>
    </div>
    <div class="card flex items-center justify-center aspect-square" role="group" aria-roledescription="slide">
      <span class="text-4xl font-semibold">3</span>
    </div>
    <div class="card flex items-center justify-center aspect-square" role="group" aria-roledescription="slide">
      <span class="text-4xl font-semibold">4</span>
    </div>
  </div>
  <%= button_tag class: "btn btn--outline rounded-full p-2", "data-action": "carousel#next" do %>
    <%= image_tag "arrow-right.svg", size: 16, role: "presentation" %>
    <%= tag.span "Next slide", class: "sr-only" %>
  <% end %>
</div>