<div class="card flex flex-col gap" style="max-inline-size: 400px" data-controller="sortable" data-parent-id="1" data-sortable-handle-value=".handle">
  <%= tag.div class: "flex items-center gap border rounded-md pi-4 pb-2", data: { url_value: main_app.sortable_url(10) } do %>
    <%= image_tag "move.svg", class: "colorize-black handle", size: 16 %>
    <span>Item 1</span>
  <% end %>
  <%= tag.div class: "flex items-center gap border rounded-md pi-4 pb-2", data: { url_value: main_app.sortable_url(11) } do %>
    <%= image_tag "move.svg", class: "colorize-black handle", size: 16 %>
    <span>Item 2</span>
  <% end %>
  <%= tag.div class: "flex items-center gap border rounded-md pi-4 pb-2", data: { url_value: main_app.sortable_url(12) } do %>
    <%= image_tag "move.svg", class: "colorize-black handle", size: 16 %>
    <span>Item 3</span>
  <% end %>
  <%= tag.div class: "flex items-center gap border rounded-md pi-4 pb-2", data: { url_value: main_app.sortable_url(13) } do %>
    <%= image_tag "move.svg", class: "colorize-black handle", size: 16 %>
    <span>Item 4</span>
  <% end %>
  <%= tag.div class: "flex items-center gap border rounded-md pi-4 pb-2", data: { url_value: main_app.sortable_url(14) } do %>
    <%= image_tag "move.svg", class: "colorize-black handler", size: 16 %>
    <span>Item 5</span>
  <% end %>
  <%= tag.div class: "flex items-center gap border rounded-md pi-4 pb-2", data: { url_value: main_app.sortable_url(15) } do %>
    <%= image_tag "move.svg", class: "colorize-black handle", size: 16 %>
    <span>Item 6</span>
  <% end %>
</div>