<div class="card flex flex-col gap" style="max-inline-size: 400px" data-controller="sortable" data-id="1">
  <%= tag.div "Item 1", class: "border p-3", data: { url_value: main_app.sortable_url(10) } %>
  <%= tag.div "Item 2", class: "border p-3", data: { url_value: main_app.sortable_url(11) } %>
  <%= tag.div "Item 3", class: "border p-3", data: { url_value: main_app.sortable_url(12) } %>
  <%= tag.div "Item 4", class: "border p-3", data: { url_value: main_app.sortable_url(13) } %>
  <%= tag.div "Item 5", class: "border p-3", data: { url_value: main_app.sortable_url(14) } %>
  <%= tag.div "Item 6", class: "border p-3", data: { url_value: main_app.sortable_url(15) } %>
</div>