<div class="command__group" role="group" aria-labelledby="suggestions">
  <span class="command__group-header" id="suggestions" aria-hidden="true">Suggestions</span>
  <%= link_to "", class: "btn command__item", data: { value: "calendar" }, role: "option" do %>
    <%= image_tag "calendar.svg", size: 14, aria: { hidden: true } %>
    <span>Calendar</span>
  <% end %>
  <%= link_to "", class: "btn command__item", data: { value: "search emoji" }, role: "option" do %>
    <%= image_tag "smile.svg", size: 14, aria: { hidden: true } %>
    <span>Seach Emoji</span>
  <% end %>
  <%= tag.a class: "btn command__item", data: { value: "calculator" }, aria: { disabled: true }, role: "option" do %>
    <%= image_tag "calculator.svg", size: 14, aria: { hidden: true } %>
    <span>Calculator</span>
  <% end %>
</div>
<div class="command__group" role="group" aria-labelledby="settings">
  <span class="command__group-header" id="settings" aria-hidden="true">Settings</span>
  <%= link_to "", class: "btn command__item", data: { value: "profile" }, role: "option" do %>
    <%= image_tag "user.svg", size: 14, aria: { hidden: true } %>
    <span>Profile</span>
    <span class="command__item-key">⌘P</span>
  <% end %>
  <%= link_to "", class: "btn command__item", data: { value: "billing" }, role: "option" do %>
    <%= image_tag "credit-card.svg", size: 14, aria: { hidden: true } %>
    <span>Billing</span>
    <span class="command__item-key">⌘B</span>
  <% end %>
  <%= link_to "", class: "btn command__item", data: { value: "settings" }, role: "option" do %>
    <%= image_tag "settings.svg", size: 14, aria: { hidden: true } %>
    <span>Settings</span>
    <span class="command__item-key">⌘P</span>
  <% end %>
</div>