<div class="command__group" role="group" aria-labelledby="suggestions">
  <span id="suggestions" class="command__group-header">Suggestions</span>
  <%= tag.div id: SecureRandom.hex, class: "btn command__item", data: { command_target: "item", value: "calendar", href: "" }, role: "option" do %>
    <span class="icon icon--calendar" aria-hidden="true"></span>
    <span>Calendar</span>
  <% end %>
  <%= tag.div id: SecureRandom.hex, class: "btn command__item", data: { command_target: "item", value: "search emoji", href: "" }, role: "option" do %>
    <span class="icon icon--smile" aria-hidden="true"></span>
    <span>Seach Emoji</span>
  <% end %>
  <%= tag.div id: SecureRandom.hex, class: "btn command__item", data: { command_target: "item", value: "calculator", href: "" }, aria: { disabled: true }, role: "option" do %>
    <span class="icon icon--calculator" aria-hidden="true"></span>
    <span>Calculator</span>
  <% end %>
</div>
<div class="command__group" role="group" aria-labelledby="settings">
  <span id="settings" class="command__group-header">Settings</span>
  <%= tag.div id: SecureRandom.hex, class: "btn command__item", data: { command_target: "item", value: "profile", href: "" }, role: "option" do %>
    <span class="icon icon--user" aria-hidden="true"></span>
    <span>Profile</span>
    <span class="command__item-key">⌘P</span>
  <% end %>
  <%= tag.div id: SecureRandom.hex, class: "btn command__item", data: { command_target: "item", value: "billing", href: "" }, role: "option" do %>
    <span class="icon icon--credit-card" aria-hidden="true"></span>
    <span>Billing</span>
    <span class="command__item-key">⌘B</span>
  <% end %>
  <%= tag.div id: SecureRandom.hex, class: "btn command__item", data: { command_target: "item", value: "settings", href: "" }, role: "option" do %>
    <span class="icon icon--settings" aria-hidden="true"></span>
    <span>Settings</span>
    <span class="command__item-key">⌘P</span>
  <% end %>
</div>
