<div class="flex items-center gap">
  <%= link_to "#", class: "flex items-center gap mie-2" do %>
    <span class="icon icon--fire" style="--icon-size: 1.5rem" aria-hidden="true">
    <span class="font-bold">CSS Zero</span>
  <% end %>

  <nav class="flex items-center gap text-sm text-subtle show@md" style="--column-gap: 1rem">
    <%= link_to "Docs", "#", class: "text-primary" %>
    <%= link_to "Components", "#" %>
    <%= link_to "Blocks", "#" %>
    <%= link_to "Charts", "#" %>
    <%= link_to "Themes", "#" %>
    <%= link_to "Colors", "#" %>
  </nav>
</div>

<div class="flex items-center gap">
  <button type="button" class="btn avatar">
    <%= image_tag "cartoon.jpg", size: 48, alt: "CN" %>
  </button>
</div>
