<div class="flex items-center show@md">
  <%= link_to "#", class: "flex items-center gap mie-4" do %>
    <%= image_tag "circle-slash.svg", size: 24, aria: { hidden: true } %>
    <span class="font-bold">CSS Zero</span>
  <% end %>

  <nav class="flex items-center gap text-sm" style="--column-gap: 1rem">
    <%= link_to "Docs", "#", class: "text-primary" %>
    <%= link_to "Components", "#", class: "text-subtle" %>
    <%= link_to "Blocks", "#", class: "text-subtle" %>
    <%= link_to "Charts", "#", class: "text-subtle" %>
    <%= link_to "Themes", "#", class: "text-subtle" %>
    <%= link_to "Colors", "#", class: "text-subtle" %>
  </nav>
</div>

<div class="flex items-center hide@md">
  <span class="font-bold">CSS Zero</span>
</div>

<div class="flex items-center">
  <button class="btn avatar">
    <%= image_tag "cartoon.jpg", size: 48, alt: "CN" %>
  </button>
</div>