<div class="menu__header">Menu</div>
<hr class="menu__separator" role="separator"/>
<div class="menu__group" role="group">
  <%= link_to "", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" do %>
    <span class="icon icon--calendar" aria-hidden="true"></span>
    <span>Calendar</span>
  <% end %>
  <%= button_to "", class: "btn menu__item", form: { contents: true, role: "menuitem" }, data: { menu_target: "item" } do %>
    <span class="icon icon--face-smile" aria-hidden="true"></span>
    <span>Seach Emoji</span>
  <% end %>
  <%= tag.a class: "btn menu__item", role: "menuitem", tabindex: "-1", aria: { disabled: true } do %>
    <span class="icon icon--calculator" aria-hidden="true"></span>
    <span>Calculator</span>
  <% end %>
</div>
<hr class="menu__separator" role="separator"/>
<div class="menu__group" role="group">
  <%= link_to "", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" do %>
    <span class="icon icon--user" aria-hidden="true"></span>
    <span>Profile</span>
    <span class="menu__item-key">⌘P</span>
  <% end %>
  <%= link_to "", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" do %>
    <span class="icon icon--credit-card" aria-hidden="true"></span>
    <span>Billing</span>
    <span class="menu__item-key">⌘B</span>
  <% end %>
  <%= link_to "", class: "btn menu__item", data: { menu_target: "item" }, role: "menuitem" do %>
    <span class="icon icon--cog-6-tooth" aria-hidden="true"></span>
    <span>Settings</span>
    <span class="menu__item-key">⌘P</span>
  <% end %>
</div>
