<%= form_with url: nil, html: { autocomplete: "off" }, class: "flex flex-col gap" do |form| %>
  <div class="flex flex-col">
    <h3 class="font-semibold leading-none mbe-1">Edit profile</h3>
    <p class="text-sm text-subtle">Make changes to your profile here. Click save when you're done.</p>
  </div>

  <div class="flex flex-col gap mb-2">
    <div class="flex flex-col gap-half">
      <%= form.label :name, class: "text-sm font-medium leading-none" %>
      <%= form.text_field :name, value: "Lázaro Nixon", class: "input", autofocus: true %>
    </div>

    <div class="flex flex-col gap-half">
      <%= form.label :username, class: "text-sm font-medium leading-none" %>
      <%= form.text_field :username, value: "@lazaronixon", class: "input" %>
    </div>
  </div>

  <div class="flex items-center justify-end gap">
    <button type="button" class="btn" data-action="dialog#close">Cancel</button>
    <%= form.submit "Save changes", class: "btn btn--primary" %>
  </div>
<% end %>
