<div class="sidebar-menu">
  <%= link_to "#", class: "btn sidebar-menu__button" do %>
    <div class="flex shrink-0 overflow-hidden rounded-lg">
      <%= image_tag "sidebar-logo.svg", size: 32, alt: "ZI" %>
    </div>
    <div class="flex flex-col text-start leading-tight">
      <span class="font-semibold">Zero Inc</span>
      <span class="text-xs">Enterprise</span>
    </div>
    <%= image_tag "chevrons-up-down.svg", class: "mis-auto", size: 16, aria: { hidden: true } %>
  <% end %>
  <div class="sidebar-menu__content">
    <div class="sidebar-menu__group">
      <div class="sidebar-menu__group-label">Platform</div>
      <div class="sidebar-menu__items">
        <details>
          <summary class="btn sidebar-menu__button">
            <%= image_tag "square-terminal.svg", size: 16, aria: { hidden: true } %>
            <span>Playground</span>
          </summary>
          <div class="sidebar-menu__sub">
            <%= link_to "History", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Starred", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Settings", "#", class: "btn sidebar-menu__button" %>
          </div>
        </details>
        <details>
          <summary class="btn sidebar-menu__button">
            <%= image_tag "bot.svg", size: 16, aria: { hidden: true } %>
            <span>Models</span>
          </summary>
          <div class="sidebar-menu__sub">
            <%= link_to "Genesis", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Explorer", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Quantum", "#", class: "btn sidebar-menu__button" %>
          </div>
        </details>
        <details>
          <summary class="btn sidebar-menu__button">
            <%= image_tag "book-open.svg", size: 16, aria: { hidden: true } %>
            <span>Documentation</span>
          </summary>
          <div class="sidebar-menu__sub">
            <%= link_to "Documentation", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Get Started", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Tutorials", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Changelog", "#", class: "btn sidebar-menu__button" %>
          </div>
        </details>
        <details>
          <summary class="btn sidebar-menu__button">
            <%= image_tag "settings-2.svg", size: 16, aria: { hidden: true } %>
            <span>Settings</span>
          </summary>
          <div class="sidebar-menu__sub">
            <%= link_to "General", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Teams", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Billing", "#", class: "btn sidebar-menu__button" %>
            <%= link_to "Limits", "#", class: "btn sidebar-menu__button" %>
          </div>
        </details>
      </div>
    </div>
    <div class="sidebar-menu__group">
      <div class="sidebar-menu__group-label">Projects</div>
      <div class="sidebar-menu__items">
        <%= link_to "#", class: "btn sidebar-menu__button" do %>
          <%= image_tag "frame.svg", size: 16, aria: { hidden: true } %>
          <span>Design Engineering</span>
        <% end %>
        <%= link_to "#", class: "btn sidebar-menu__button" do %>
          <%= image_tag "chart-pie.svg", size: 16, aria: { hidden: true } %>
          <span>Sales & Marketing</span>
        <% end %>
        <%= link_to "#", class: "btn sidebar-menu__button" do %>
          <%= image_tag "map.svg", size: 16, aria: { hidden: true } %>
          <span>Travel</span>
        <% end %>
        <%= tag.a class: "btn sidebar-menu__button", aria: { disabled: true } do %>
          <%= image_tag "ellipsis.svg", size: 16, aria: { hidden: true } %>
          <span>More</span>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "#", class: "btn sidebar-menu__button mbs-auto" do %>
    <div class="flex shrink-0 overflow-hidden rounded-lg">
      <%= image_tag "cartoon.jpg", size: 32, alt: "CN" %>
    </div>
    <div class="flex flex-col text-start leading-tight">
      <span class="font-semibold">Lázaro Nixon</span>
      <span class="text-xs">lazaronixon@hotmail.com</span>
    </div>
    <%= image_tag "chevrons-up-down.svg", class: "mis-auto", size: 16, aria: { hidden: true } %>
  <% end %>
</div>