<div class="flex flex-wrap gap">
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-starting-opacity-value="0" data-animation-name-value="fade-in">
    <%= button_tag "Fade In", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="fade-out">
    <%= button_tag "Fade Out", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-starting-opacity-value="0" data-animation-name-value="fade-in-bloom">
    <%= button_tag "Bloom Fade In", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="fade-out-bloom">
    <%= button_tag "Bloom Fade Out", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="scale-up">
    <%= button_tag "Scale up", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="scale-down">
    <%= button_tag "Scale down", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="slide-out-up">
    <%= button_tag "Slide Out Up", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="slide-out-down">
    <%= button_tag "Slide Out Down", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="slide-out-right">
    <%= button_tag "Slide Out Right", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="slide-out-left">
    <%= button_tag "Slide Out Left", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="slide-in-up">
    <%= button_tag "Slide In Up", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="slide-in-down">
    <%= button_tag "Slide In Down", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="slide-in-right">
    <%= button_tag "Slide In Right", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="slide-in-left">
    <%= button_tag "Slide In Left", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="spin">
    <%= button_tag "Spin", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="ping">
    <%= button_tag "Ping", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="blink">
    <%= button_tag "Blink", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="float">
    <%= button_tag "Float", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="bounce">
    <%= button_tag "Bounce", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="pulse">
    <%= button_tag "Pulse", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="shake-x">
    <%= button_tag "Shake X", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="shake-y">
    <%= button_tag "Shake Y", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-name-value="shake-z">
    <%= button_tag "Shake Z", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
</div>