<div class="flex flex-wrap gap">
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-starting-opacity-value="0" data-animation-var-value="--animate-fade-in">
    <%= button_tag "Fade In", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-fade-out">
    <%= button_tag "Fade Out", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-starting-opacity-value="0" data-animation-var-value="--animate-fade-in-bloom">
    <%= button_tag "Bloom Fade In", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-fade-out-bloom">
    <%= button_tag "Bloom Fade Out", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-scale-up">
    <%= button_tag "Scale up", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-scale-down">
    <%= button_tag "Scale down", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-out-up">
    <%= button_tag "Slide Out Up", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-out-down">
    <%= button_tag "Slide Out Down", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-out-right">
    <%= button_tag "Slide Out Right", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-out-left">
    <%= button_tag "Slide Out Left", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-in-up">
    <%= button_tag "Slide In Up", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-in-down">
    <%= button_tag "Slide In Down", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-in-right">
    <%= button_tag "Slide In Right", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-in-left">
    <%= button_tag "Slide In Left", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-spin">
    <%= button_tag "Spin", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-ping">
    <%= button_tag "Ping", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-blink">
    <%= button_tag "Blink", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-float">
    <%= button_tag "Float", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-bounce">
    <%= button_tag "Bounce", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-pulse">
    <%= button_tag "Pulse", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-shake-x">
    <%= button_tag "Shake X", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-shake-y">
    <%= button_tag "Shake Y", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-shake-z">
    <%= button_tag "Shake Z", "data-action": "animation#run", class: "btn btn--plain text-lg font-semibold" %>
  </div>
</div>