<nav class="breadcrumb" aria-label="Breadcrumb">
  <%= link_to "Home", "#home" %>
  <%= tag.span class: "icon icon--chevron-right", aria: { hidden: true } %>
  <%= link_to "Components", "#components" %>
  <%= tag.span class: "icon icon--chevron-right", aria: { hidden: true } %>
  <%= tag.span "Breadcrumb", class: "text-primary", aria: { disabled: true, current: "page" }, role: "link" %>
</nav>
