<nav class="breadcrumb" aria-label="Breadcrumb">
  <%= link_to "Home", "#home" %>
  <%= image_tag "chevron-right.svg", size: 24, aria: { hidden: true }, role: "presentation" %>
  <%= link_to "Components", "#components" %>
  <%= image_tag "chevron-right.svg", size: 24, aria: { hidden: true }, role: "presentation" %>
  <%= link_to "Breadcrumb", "#breadcrumb", class: "text-primary", aria: { disabled: true, current: "page" }, role: "link" %>
</nav>