<div class="group" role="group" aria-label="Basic example">
  <%= button_tag class: "btn" do %>
    <%= image_tag "circle-user.svg", size: 16, aria: { hidden: true } %>
    <span>Profile</span>
  <% end %>

  <%= button_tag class: "btn" do %>
    <%= image_tag "sliders-vertical.svg", size: 16, aria: { hidden: true } %>
    <span>Settings</span>
  <% end %>

  <%= button_tag class: "btn" do %>
    <%= image_tag "download.svg", size: 16, aria: { hidden: true } %>
    <span>Download</span>
  <% end %>
</div>