<div class="card flex flex-col gap" style="gap: 1.5rem;">
  <div class="flex flex-col gap-sm">
    <h1 class="text-2xl font-semibold leading-none">Create project</h1>
    <p class="text-sm text-subtle">Deploy your new project in one-click.</p>
  </div>

  <div class="flex flex-col gap">
    <div class="flex flex-col gap-sm">
      <%= label_tag "name", "Name", class: "text-sm font-medium" %>
      <%= text_field_tag "name", nil, placeholder: "Name of your project", class: "input" %>
    </div>

    <div class="flex flex-col gap-sm">
      <%= label_tag "framework", "Framework", class: "text-sm font-medium" %>
      <%= select_tag "framework", options_for_select([["Ruby on Rails", "ruby"], ["Laravel", "laravel"], ["Next", "next"]]), class: "input" %>
    </div>
  </div>

  <div class="flex justify-between">
    <%= button_tag "Cancel", class: "btn btn--outline" %>
    <%= button_tag "Destroy", class: "btn" %>
  </div>
</div>