<button type="button" class="btn" popovertarget="dropdown" aria-haspopup="true">
  Open
</button>

<div popover id="dropdown" class="popover popover--block-end-start" style="--popover-size: 14rem;" role="menu" aria-label="Menu">
  <div class="menu" data-controller="menu" data-action="keydown->menu#navigate">
    <div class="menu__header">Settings</div>
    <hr class="menu__separator" role="separator"/>
    <div class="btn menu__item">
      <%= radio_button_tag :setting, :recents, 1, class: "input", data: { menu_target: "item" }, role: "menuitemradio" %>
      <%= label_tag :setting_recents, "Recents", class: "flex-item-grow text-sm" %>
    </div>
    <div class="btn menu__item">
      <%= radio_button_tag :setting, :home, class: "input", data: { menu_target: "item" }, role: "menuitemradio" %>
      <%= label_tag :setting_home, "Home", class: "flex-item-grow text-sm" %>
    </div>
    <div class="btn menu__item">
      <%= radio_button_tag :setting, :applications, class: "input", data: { menu_target: "item" }, role: "menuitemradio" %>
      <%= label_tag :setting_applications, "Applications", class: "flex-item-grow text-sm" %>
    </div>
    <div class="btn menu__item">
      <%= radio_button_tag :setting, :desktop, class: "input", data: { menu_target: "item" }, role: "menuitemradio" %>
      <%= label_tag :setting_desktop, "Desktop", class: "flex-item-grow text-sm" %>
    </div>
  </div>
</div>
